.App {
  text-align: center;
}

.lineButton {
  margin: 1rem;
  width: 303px;
  height: 88px;
  background: url('https://i.imgur.com/khY4T6I.png') no-repeat;
  display: inline-block;
}
.lineButton:hover {
  background: url('https://i.imgur.com/0pIIFzf.png') no-repeat;
}
.lineButton:active {
  background: url('https://i.imgur.com/JTGuGpQ.png') no-repeat;
}
